<router-outlet></router-outlet>

<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="filtrar($event)" placeholder="Buscar usuario">
  </mat-form-field>
</div>

<mat-table #table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="idUsuario">
    <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.idUsuario}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="usuario">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.usuario}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" [routerLink]="['edicion', row.idUsuario]">
        <mat-icon>ballot</mat-icon>
      </button>
      <button mat-button color="accent" (click)="eliminar(row.idUsuario)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

<button mat-fab color="accent" style="float: right" routerLink="/usuario/nuevo">
  <mat-icon>create</mat-icon>
</button>
