<!-- login.component.html -->
<div class="login">
  <form class="custom-form" method="post">
    <h1>Login</h1>
    <input
      type="text"
      [(ngModel)]="email"
      name="usuario"
      placeholder="Ingrese usuario"
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="password"
      name="contraseña"
      placeholder="Ingrese contraseña"
      required="required"
    />
    <button type="submit" (click)="login()">Login</button>
  </form>
</div>
