
.example-card{
  margin-left: 20px;
  margin-right: 20px;
}

.example-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.example-container>* {
  width: 100%;
}

.invalido {
  color: red;
}
