<mat-card class="example-card">Ingrese los datos del Usuario</mat-card>

<form class="example-container" [formGroup]="form" #frmUsuario="ngForm" (ngSubmit)="operar()">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Usuario" minlength="3" [readonly]="userEditable" formControlName="usuario">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombres" minlength="3" required formControlName="nombre">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Apellido Paterno" required formControlName="apellido_paterno">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Apellido Materno" required formControlName="apellido_materno">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Correo" required formControlName="email" type="email">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="frmUsuario.invalid">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/usuario' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>

</form>

